

/* Header for the file */
div#college_name {
    position: absolute;
    top: 1vh;
    left: 7.25vw;
    z-index: 12;
    /* height: 8vh; */
    width: 85vw;
}

div#college_name .college_header>a>img {
    height: 10vh;
    width: 7vw;
    margin-right: 1.25vw;
    float: left;
}

div#college_name .college_header > div > h2 {
    font-family: 'Merriweather', sans-serif, 'Times New Roman';
    color: darkblue;
    font-weight: bold;
}

div#college_name .college_header > div > h6 {
    color: brown;
}


div.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5vh;
}

nav#siteHead {
    height: 7vh;
    width: 85vw;
    /* left: 50; */
    margin-top: 1.5vh;
    float: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(0, 0, 0);
        background: linear-gradient(277deg, rgba(0, 0, 0, 0.3248949237898284) 0%, rgba(0, 0, 0, 0.26887251482624297) 100%);
}

nav#site_head {
    position: fixed;
    top: 0;
    left: 0;
    height: 9vh;
    width: 100vw;
    float: none;
    background-color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav#siteHead>a>img {
    height: 5vh;
    width: 3vw;
    margin: 0px;
    padding: 0px;
}

nav#siteHead>a {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 2.5vh;
}

nav#siteHead>a:hover {
    border-bottom: 1vh solid white;
    /* animation: appear_border 1s; */
}

nav#siteHead>a.header_logo {
    display: none;
}

nav#siteHead>a>img.header_logo {
    display: none;
}

nav#site_head>a>img {
    height: 5vh;
    width: 3vw;
    margin: 0px;
    padding: 0px;
}

nav#site_head>a {
    
    margin: 0px 1.5vw;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.683);
    font-size: 2.5vh;
}

nav#site_head>a.header_logo {
    height: 12vh;
    width: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: aliceblue;
}

nav#siteHead>a.home_icon:hover
{
    border: none;
}

nav#site_head>a>img.header_logo {
    height: 8vh;
    width: 4vw;
}




/* Adding dropdowns to the header */
.dropDown {
    display: none;
    height: 60vh;
    width: 85vw;
    position: fixed;
    top: 24.5vh;
    left: 7.25vw;                
    z-index: 1000;
    background-color: whitesmoke;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

a.Institute:hover + .dropDown,
.dropDown:hover {
    display: block;
    animation: dropDown_appear 0.25s ease-in-out;
}


a.Department:hover + .dropDown,
.dropDown:hover {
    display: block;
    animation: dropDown_appear 0.25s ease-in-out;
}





/* animations */
@keyframes appear_border {
    from {
            border-bottom: 0px;
    }
    
        to {
            border-bottom: 30px;
    }
}


@keyframes dropDown_appear {
    from {
            /* opacity: 0; */
            height: 0px;
        }
    
        to {
            /* opacity: 1; */
            height: 60vh;
        }
}

@keyframes dropDown_disappear {
    from {
            transform: translateY(0);
            height: 65vh;
        }
    
        to {
            transform: translateY(20px);
            height: 0vh;                     
        }
} 